It is a python script for making necessary data cleaning before creating an SQL database. <br>
PS: Not all that could be made here is made in purpose because the main project is going to be an SQL project.

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('Largest companies in world.csv')

In [15]:
df

,rank,organizationName,country,revenue,profits,assets,marketValue
0,1,JPMorgan Chase,United States,179.93 B,41.8 B,"3,744.3 B",399.59 B
1,2,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,589.47 B,156.36 B,660.99 B,"2,055.22 B"
2,3,ICBC,China,216.77 B,52.47 B,"6,116.82 B",203.01 B
3,4,China Construction Bank,China,203.08 B,48.25 B,"4,977.48 B",172.99 B
4,5,Agricultural Bank of China,China,186.14 B,37.92 B,"5,356.86 B",141.82 B
...,...,...,...,...,...,...,...
2046,"1,996",Alfa Laval,Sweden,5.35 B,489.5 M,7.82 B,15.6 B
2047,"1,996",Gap,United States,15.62 B,-202 M,11.39 B,3.17 B
2048,"1,996",Yes Bank,India,3.34 B,91.6 M,43.22 B,5.6 B
2049,"1,999",BEKB-BCBE,Switzerland,556 M,167.1 M,42.97 B,2.49 B
2050,"1,999",Ipsen,France,3.18 B,681.7 M,5.99 B,10.21 B

In [16]:
df.isnull().sum()

rank                1
organizationName    1
country             1
revenue             2
profits             2
assets              2
marketValue         2
dtype: int64

In [17]:
df.dropna(inplace=True)

In [18]:
df.duplicated().sum()

50

In [19]:
df.drop_duplicates(inplace=True)

In [20]:
# Function for removing B (billion) and M (million) in numerical columns
def convert_to_int(value):
    value = value.replace(',', '')
    value = str(value).strip() 
    if 'B' in value:
        return int(float(value.replace('B', '')) * 1e9)
    elif 'M' in value:
        return int(float(value.replace('M', '')) * 1e6)
    else:
        return int(float(value))

In [21]:
# loop for applying convert_to_int() over selected columns
for column in ['revenue', 'profits', 'assets', 'marketValue']:
    df[column] = df[column].apply(convert_to_int)

In [22]:
df.head()

,rank,organizationName,country,revenue,profits,assets,marketValue
0,1,JPMorgan Chase,United States,179930000000,41800000000,3744300000000,399590000000
1,2,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,589470000000,156360000000,660990000000,2055219999999
2,3,ICBC,China,216770000000,52470000000,6116820000000,203010000000
3,4,China Construction Bank,China,203080000000,48250000000,4977480000000,172990000000
4,5,Agricultural Bank of China,China,186140000000,37920000000,5356860000000,141820000000

In [23]:
# divide the df into two separate tables for strategical purposes
PrimaryValues = df.drop('marketValue', axis=1)
MarketValues = df['marketValue']

In [12]:
# save dataframes into csv files
PrimaryValues.to_csv('PrimaryValues.csv')
MarketValues.to_csv('MarketValues.csv')